<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css"
</head>
<body>
header {background-color: #4aaaa5}

img {
	float: left;
	margin: 0 0 10px 10px; 
}

p {
	text-align: left;
	color: #777777;
}


h1 {
	text-overflow: 
	color: #777777;
	font-size: 
}

<p><img src=""  alt="Lisa sitting at table"


</body>

